body {
    background-color: black;
}

a, h1, h2, h3 {
    color: white;
    word-wrap: break-word;
}

h4 {
    color: white;
    word-wrap: break-word;
    margin-top: 0.7ex;
    margin-bottom: 0.7ex;
}

label {
    color: white;
}

legend {
    color: white;
}

fieldset {
}

dialog {
    background-color: black;
    border: 1px solid white;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
}

p {
    margin: 0;
    color: white;
    word-wrap: break-word;
}

input {
    margin-top: 1px;
    margin-bottom: 1px;
}

table {
    border: 1px solid white;
    margin: 2ex 0 2ex 0;
    width: 100%;
}

tr {

}

th {
    color: white;
}

td {
    color: white;
    padding: 3px;
}

caption {
    color: white;
    border: 1px solid white;
}

iframe {
    background-color: Window;
}

table td .input_field {
    width: 100%;
    box-sizing: border-box;
}

#collector_plugin_source_viewer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    resize: none;
}

dialog fieldset {
    text-align: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

dialog div.action_cell {
    display: inline-block;
    padding: 2px;
}

.collector_plugin_page_details{
}

.collector_plugin_page_details iframe{
    width: 100%;
    height: 100%;
}

.collector_plugin_source_container{
    width: 100%;
    height: 100%;
    display: inline-block;
}

.tables {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tables table {
    margin-top: 0;
}

.database_entry_table{
    margin-left: 0.5ex;
    margin-right: 0.5ex;
    width: max-content;
}

.action_cell{
    white-space: nowrap;
}

.row_update_button {
    width: 50%;
}

.row_deletion_button{
    width: 50%;
}

.row_insertion_form{
    margin-top: 2ex;
}

.value_input_fields {
    width: 100%;
    display: table;
}

.column_value_input{
    display: table-row;
    width: 100%;
}

.column_value_input label{
    display: table-cell;
    padding-right: 0.5ex;
    width: 1px;
}

.column_value_input input {
    display: table-cell;
    width: 100%;
    box-sizing: border-box;
}

.insert_row_submit {
    text-align: center;
}

.main_menu {
    border: 1px solid white;
    padding: 1ex;
}

.upload_form {
    border: 1px solid white;
    padding: 1ex;
    flex-grow: 1;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filename_label > p{
    min-height: 1em;
    font-size: 1em;
    border: 1px solid white;
}

.filename_chooser{
    flex-grow: 1;
}

.selected {
    background-color: cadetblue;
}

.query_filter {

}

.table_selection {

}

.plugin {

}

.plugin_delete_button {
    flex-grow: 1;
    width: 100%;
}

.code_visibility_switch {
    flex-grow: 1;
    border: 1px solid white;
    padding: 1ex;
}

.name {
    border: 1px solid white;
    padding: 1ex;
    background-color: midnightblue;
    flex-grow: 1;
}

.description {
    border: 1px solid white;
    padding: 1ex;
    flex-grow: 100;
}

.code {
    border: 1px solid white;
    padding: 1ex;
    flex-grow: 1;
    display: none;
}

#plugin_to_load {
    color: white;
}

#collector_plugin_table {

}
